<div
  class="battlefield-container text-slate-900 text-2xl rounded-3xl z-50 parchment-background text-shadow h-full w-full"
>
  <div class="mt-6" style="padding: 5px; margin-top: 0.5rem">
    <h2
      class="text-5xl font-semibold mb-4 text-center"
      style="font-family: 'GameOfThrones', sans-serif"
    >
      BATTLEFIELD
    </h2>
  </div>

  <div
    class="flex flex-row justify-center items-center"
    *ngIf="!characterChosenForBattle"
  >
    <!-- Opponent Characters -->
    <div
      *ngFor="let opponent of opponents; let i = index"
      class="card p-3"
      [class.active]="currentDisplayIndex === i && !fadeOthers"
      [class.fade]="fadeOthers && chosenOpponent !== opponent"
    >
      <img
        [src]="opponent.image_url"
        alt="{{ opponent.name }}"
        class="rounded-3xl"
      />
    </div>
  </div>

  <div *ngIf="characterChosenForBattle" class="positioned-characters">
    <!-- My Character -->
    <div class="character-card">
      <img
        [src]="this.chosenFighter.image_url"
        alt="Your Character"
        class="character-image"
      />
      <div class="character-stats">HP: {{ myHitPoints }}/100</div>
      <button class="action-btn" (click)="attackOpponent()">Attack</button>
    </div>

    <!-- Chosen Opponent -->
    <div class="character-card">
      <img
        [src]="chosenOpponent.image_url"
        alt="{{ chosenOpponent.name }}"
        class="character-image"
      />
      <div class="character-stats">HP: {{ opponentHitPoints }}/100</div>
    </div>
  </div>

  <div *ngIf="showNotification">
    <app-notification
      [message]="notificationMessage"
      [color]="notificationColor"
    >
    </app-notification>
  </div>
</div>
