<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoT</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .showcase {
        position: relative;
      }
    </style>
  </head>
  <body>
    <section class="showcase">
      <video
        src="../../assets/explore.mp4"
        muted
        loop
        autoplay
        playsinline
      ></video>
      <div
        class="flex flex-row justify-center"
        style="justify-content: center; display: flex"
      >
        <div
          class="text-slate-900 text-xl bg-slate-200 border-xl shadow-2xl shadow-black rounded-3xl"
        >
          <app-got-char-creator></app-got-char-creator>
        </div>
        <div
          class="text-slate-900 text-xl bg-slate-200 border-xl shadow-2xl shadow-black rounded-3xl"
          style="margin-left: 20px"
        >
          <app-character-list
            (characterSelected)="onCharacterSelected()"
            (imageLoaded)="onImageLoaded($event)"
          ></app-character-list>
        </div>
        <div
          class="text-slate-900 text-xl bg-slate-200 border-xl shadow-2xl shadow-black rounded-3xl"
          style="margin-left: 20px; width: 600px"
        >
          <app-image-viewer
            [imageUrl]="selectedImageUrl"
            [isLoading]="isLoading"
          ></app-image-viewer>
        </div>
      </div>
    </section>
  </body>
</html>
