<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoT</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      .showcase {
        position: relative;
      }
    </style>
  </head>
  <body>
    <section class="showcase">
      <video
        src="../../assets/explore.mp4"
        muted
        loop
        autoplay
        playsinline
      ></video>
      <div
        *ngIf="this.displayBattlefield"
        class="battlefield-container lex flex-col justify-content items-center text-center h-full w-full"
      >
        <div class="battlefield">
          <app-battlefield
            [selectedCharacterForBattle]="selectedCharacterForBattle"
            [characterList]="selectedCharactersForBattle"
          ></app-battlefield>
        </div>
      </div>
      <div
        class="flex flex-row"
        style="justify-content: center; display: flex"
        *ngIf="this.displayCharacterCreator"
      >
        <div
          class="text-slate-900 text-xl bg-transparent border-xl shadow-2xl shadow-black rounded-3xl"
        >
          <app-got-char-creator
            (characterCreated)="onNewCharacterCreated()"
          ></app-got-char-creator>
        </div>
        <div
          class="text-slate-900 text-xl bg-transparent border-xl shadow-2xl shadow-black rounded-3xl"
          style="margin-left: 20px"
        >
          <app-character-list
            (characterSelected)="onCharacterSelected()"
            (imageLoaded)="onImageLoaded($event)"
            (characterDetails)="onCharacterDetailsReceived($event)"
            (characterCreated)="onNewCharacterCreated()"
          ></app-character-list>
        </div>
        <div
          class="text-slate-900 text-xl bg-transparent border-xl rounded-3xl"
          style="margin-left: 20px; width: 600px"
        >
          <app-image-viewer
            [imageUrl]="selectedImageUrl"
            [isLoading]="isLoading"
            [characterDetails]="selectedCharacterDetails"
            (displayConfirmation)="onDisplayConfirmation($event)"
            (selectedCharacterForBattle)="onSelectedCharacterForBattle($event)"
          ></app-image-viewer>
        </div>
      </div>
      <app-hide-ui
        (hideCharacterCreator)="onHideCharacterCreator($event)"
        [selectedCharacterForBattle]="selectedCharacterForBattle"
        (displayBattlefield)="onHideBattlefield($event)"
      ></app-hide-ui>
      <app-confirmation-box
        *ngIf="displayConfirmation"
        (displayConfirmation)="onDisplayConfirmation($event)"
        [selectedCharacterDetails]="selectedCharacterDetails"
        (characterDeleted)="onCharacterDeleted()"
      ></app-confirmation-box>
    </section>
  </body>
</html>
