<link rel="stylesheet" href="../tailwind.css" />
<script src="https://unpkg.com/akar-icons-fonts"></script>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Pixelify+Sans:wght@500&family=Space+Grotesk:wght@300&display=swap");
</style>
<div>
  <!-- Your existing content goes here -->
  <router-outlet></router-outlet>
</div>
<!-- <div class="flex flex-row items-center bg-black w-screen h-screen">
  <div class="w-full h-full relative">
    <app-three-viewer></app-three-viewer>
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <button
        class="bg-black text-white px-4 py-2 text-4xl rounded hover:font-bold"
        style="margin-top: 300px"
      >
        <app-enter-button></app-enter-button>
      </button>
    </div>
  </div>
</div>
 -->
