<div
  class="parchment-background rounded-3xl z-50 text-slate-900 text-2xl h-full text-shadow"
  style="font-family: 'GameOfThrones', sans-serif"
>
  <div class="text-4xl font-semibold p-4">Characters</div>
  <div *ngFor="let character of characters">
    <div
      class="text-2xl hover:bg-blue-400 hover:font-bold cursor-pointer text-center p-3"
      (click)="onCharacterClick(character)"
    >
      {{ character.name }}
    </div>
  </div>
  <div *ngIf="characterChosenForBattle !== ''">
    <app-notification [message]="'Character Selected'" [color]="'gold'">
    </app-notification>
  </div>
</div>
